body {
    font-family: Arial, sans-serif;
    background: linear-gradient(100deg,#051b22, #f2f3f0 ); 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url("../images/img1.png"); */
}

.login{
    /* background: linear-gradient(80deg, #c7eca8, #9bcbdb); */
    padding: 30px;
    width: 200px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px 30px rgba(138, 98, 98, 0.2);
    text-align: center;
    color: aliceblue;
}

.login h1 {
    margin-bottom: 20px;
    text-align: center;
    
}

.login input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    /* background: linear-gradient(80deg, #c7eca8, #9bcbdb); */
}

.login button {
    width: 100%;
    padding: 20px;
    background: #2980b9;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.login button:hover {
    background: #1f6391;
}

#msg {
    margin-top: 10px;
    color: red;
}
/* signup page */


.signup-container {
    /* background: white; */
    color: white;
    padding: 30px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 20px 20px 20px 20px rgba(138, 98, 98, 0.2);
    text-align: center;
}

.signup-container h2 {
    margin-bottom: 20px;
}

.signup-container input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 10px ;
}

.signup-container button {
    width: 100%;
    padding: 10px;
    background: #0072ff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.signup-container button:hover {
    background: #005ad1;
}

#msg {
    margin-top: 10px;
    color: red;
}
